<%- include("head.ejs") %>
<header class=" bg-green-800 ">
    <!--    <nav class="max-w-6xl mx-auto py-6">-->
    <nav class="container mx-auto py-6">
        <ul class="flex gap-6">
            <li><a href="/"
                   class="text-gray-100 hover:text-yellow-300 active:text-yellow-300 duration-150 <%= path === "/" ? 'text-yellow-300' : "" %>">Shop</a>
            </li>
            <li>
                <a href="/products"
                   class="text-gray-100 hover:text-yellow-300 active:text-yellow-300 duration-150 <%= path === "/products" ? 'text-yellow-300' : "" %>">Products</a>
            </li>

            <li>
                <a href="/orders"
                   class="text-gray-100 hover:text-yellow-300 active:text-yellow-300 duration-150 <%= path === "/orders" ? 'text-yellow-300' : "" %>">Orders</a>
            </li>

            <li>
                <a href="/cart"
                   class="text-gray-100 hover:text-yellow-300 active:text-yellow-300 duration-150 <%= path === "/cart" ? 'text-yellow-300' : "" %>">Cart</a>
            </li>

            <li>
                <a href="/admin/add-product"
                   class="text-gray-100 hover:text-yellow-300 active:text-yellow-300 duration-150 <%= path === "/admin/add-product" ? 'text-yellow-300' : "" %>">Add
                    Product</a>
            </li>
            <li>
                <a href="/admin/products"
                   class="text-gray-100 hover:text-yellow-300 active:text-yellow-300 duration-150 <%= path === "/admin/products" ? 'text-yellow-300' : "" %>">Admin
                    Products</a>
            </li>
        </ul>
    </nav>
</header>
<%- include("end.ejs") %>